/************************* Product Stylesheet *****************************/

.extra-margin-div {
	margin: 100px 0;
}
.post {
	margin: 60px 0;
}
.post-img {
	width: 55%;
	float: left;
	cursor: pointer;
}
.main-image {
	border: 1px solid #ffab00;
	border-top-left-radius: 50px;
	border-bottom-right-radius: 50px;
}
.main-image img {
	width: 100%;
	border-top-left-radius: 50px;
	border-bottom-right-radius: 50px;
}
.post-pics {
	margin: 20px 0;
}
.post-pics .post-image {
	width: 30%;
	margin: 1.5%;
	float: left;
	cursor: pointer;
	border: 1px solid #aaa;
	border-top-left-radius: 20px;
	border-bottom-right-radius: 20px;
}
.post-pics .post-image img {
	width: 100%;
	border-top-left-radius: 20px;
	border-bottom-right-radius: 20px;
}
.post-info {
	float: right;
	width: 43%;
}
.post-info .post-title {
	font-family: "BPG Nino Mtavruli Bold", sans-serif;
	font-size: 28px;
	color: #1c8383;
	margin-bottom: 5px;
}
.post-info .post-brand {
	font-weight: 700;
	font-family: "ArchyEDT-Bold", sans-serif;
	margin-bottom: 10px;
}
.post-info .post-price {
	font-size: 24px;
	color: #1c8383;
	font-weight: 700;
	font-family: "ArchyEDT-Bold", sans-serif;
	margin: 15px 0;
}
.post-info .post-rating {
	color: #ffab00;
	margin-bottom: 10px;
}
.post-info .post-size {
	color: #666;
	margin-bottom: 30px;
	font-family: "BPG Nino Mtavruli Bold", sans-serif;
}
.post-info select {
	width: 60px;
	margin-left: 10px;
	outline: none;
}
.post-info .post-desc {
	color: #666;
	font-size: 18px;
	line-height: 1.8rem;
	font-family: "BPG Nino Mkhedruli", sans-serif;
	margin-bottom: 30px;
}
.post-info .post-add .post-quantity {
	display: inline-block;
}
.post-info .post-add .post-quantity [type="number"] {
	width: 50px;
	height: 33px;
	text-align: center;
	font-size: 18px;
	font-weight: 700;
	outline: none;
	color: #444;
	border: 1px solid #ffab00;
}
.post-info .post-add .cart-btn {
	background: #ffab00;
	color: #fff;
	padding: 10px 20px;
	margin: 0 10px;
	-webkit-transition-duration: .3s;
	     -o-transition-duration: .3s;
	        transition-duration: .3s;
	border: none;
	outline: none;
	cursor: pointer;
}
.post-info .post-add .wishlist-btn {
	text-decoration: none;
	background: #ffab00;
	color: #fff;
	padding: 10px 20px;
	-webkit-transition-duration: .3s;
	     -o-transition-duration: .3s;
	        transition-duration: .3s;
}
.post-info .post-add .cart-btn:hover, .post-info .post-add .wishlist-btn:hover {
	background: #1c8383;
}

/****************************** Featured Product *******************************/

.feat-title {
	color: #ffab00;
	text-align: center;
	font-size: 32px;
	margin: 50px 0 20px;
	font-family: "BPG Nino Mtavruli Bold", sans-serif;
}
.feat-post {
	width: 18%;
	margin: 0 1%;
	float: left;
}
.feat-post img {
	width: 100%;
}
.feat-post .feat-post-title {
	font-family: 'Roboto', sans-serif;
	font-size: 24px;
	margin-bottom: 20px;

}
.feat-post .feat-post-title a {
	text-decoration: none;
	color: #444;
}
.feat-post .feat-price {
	font-family: "BPG Nino Mtavruli Bold", sans-serif;
	font-size: 20px;
	color: #1c8383;
	margin-bottom: 10px;
}
.feat-post .feat-rating {
	color: #ffab00;
}

/******************** Modal Box **************************/

.modal {
	display: none;
	width: 100%;
    height: 101%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background: rgba(0,0,0, 0.1);
}
.modal-box {
	width: 90vh;
	margin: auto;
	margin-top: 40px;
	position: relative;
	border: 2px solid #ffab00;
	border-radius: 35px;
}
.modal-box img {
	width: 100%;
	display: block;
	border-radius: 35px;
}
.modal-box #modal-box-close {
	position: absolute;
	top: 30px;
	right: 30px;
	cursor: pointer;
	font-size: 20px;
}