html, body, h1, h2, h3, h4, h5, h6, p, ul, li, form {
	margin: 0;
	padding: 0;
	font-size: 100%;
	border: 0;
}
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
ol, ul {
	list-style: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
.wrapper {
	max-width: 1200px;
	width: 100%;
	margin: auto;
}
.clear {
	clear: both;
}

/********************** navbar icon **********************/

.menu-bar {
	position: absolute;
	right: 40px;
	top: 30px;
	font-size: 28px;
	cursor: pointer;
	color: #263238;
	display: none;
}

/********************** Header **********************/

.top-header {
	padding: 25px 0;
	background: #eee;
	overflow: hidden;
	border-top: 3px solid #263238;
	position: relative;
}
.top-header .logo {
	float: left;
	font-size: 32px;
}
.logo a {
	text-decoration: none;
	color: #555;
	font-family: "ArchyEDT-Bold", sans-serif;
}
.search {
	position: absolute;
	width: 40%;
	left: 50%;
	transform: translateX(-50%);
}
.search [type="text"] {
	width: 75%;
	padding: 12px;
	border: 1px solid #ffab00;
	outline: none;
	border-bottom-left-radius: 6px;
	border-top-left-radius: 6px;
}
.search .search-btn {
	margin-left: -5px;
	border: none;
	outline: none;
	padding: 11px 20px 12px;
	background: #ffab00;
	font-size: 16px;
	cursor: pointer;
	color: white;
	border-bottom-right-radius: 6px;
	border-top-right-radius: 6px;
}
.nav-icons {
	float: right;
	margin-top: 10px;
}
.nav-icons a {
	color: #ffab00;
	padding: 0 15px;
	font-size: 20px;
	transition-duration: .3s;
}
.nav-icons a:hover {
	color: #1c8383;
}

.bottom-header {
	padding: 15px 0;
	overflow: hidden;
	background: #263238;
}
.bottom-header .navbar .nav-item {
	float: left;
	width: 16.66%;
	text-align: center;
	display: block;
	margin-bottom: -4px;
}
.navbar .nav-item .nav-link {
	text-decoration: none;
	color: #fff;
	font-family: "BPG Nino Mtavruli Bold", sans-serif;
	transition-duration: .3s;
}
.navbar .nav-item .nav-link:hover {
	color: #ffab00;
}

/********************** Banner **********************/

.main-banner {
	position: relative;
}
.main-banner img {
	width: 100%;
}
.banner-content {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	text-align: center;
}
.banner-content .banner-title {
	color: #fff;
	font-size: 42px;
	margin-bottom: 40px;
	font-family: "BPG Nino Mtavruli Bold", sans-serif;
}
.banner-content .banner-text {
	color: #fff;
	margin-bottom: 30px;
	font-size: 24px;
	font-family: "BPG Boxo", sans-serif;
}
.banner-content .banner-btn {
	display: inline-block;
	margin-top: 20px;
	text-decoration: none;
	border: 3px solid #ffab00;
	padding: 10px 35px 6px;
	font-size: 24px;
	color: white;
	font-family: "BPG Nino Mtavruli Bold", sans-serif;
}

/********************** New Products Section **********************/

.news {
	padding: 100px 0;
	overflow: hidden;
	box-sizing: border-box;
}
.news h2 {
	text-align: center;
	font-family: "BPG Nino Mtavruli Bold", sans-serif;
	font-size: 32px;
	color: #ffab00;
	margin-bottom: 30px;
}
.portrait-view {
	float: left;
	width: 42.5%;
	margin-right: 1%;
}
.portrait-box {
	position: relative;
}
.portrait-view img {
	width: 100%;
	border-top-left-radius: 50px;
}
.box-info {
	position: absolute;
    top: 20px;
    right: 20px;
    background: #263238;
    padding: 4px 0 0;
}
.price {
	position: absolute;
	bottom: 30px;
	padding: 10px 0px 10px 30px;
	box-sizing: border-box;
	width: 200px;
	background: #263238;
	border-top-right-radius: 30px;
	color: #fff;
	font-size: 24px;
	font-family: "ArchyEDT-Bold", sans-serif;
}
.box-info a {
	color: #fff;
	padding: 7px;
	font-size: 21px;
}
.landscape-view {
	float: right;
	width: 56.5%;
}
.landscape-box {
	position: relative;
}
.landscape-view img {
	width: 100%;
	margin-bottom: 7.9px;
}
.landscape-view .bottom-right {
	border-bottom-right-radius: 50px;
}

/********************** Categories Section **********************/

.categories {
	padding: 100px 0;
	overflow: hidden;
	box-sizing: border-box;
	background: #f7f7f7;
}
.categories h2 {
	text-align: center;
	font-family: "BPG Nino Mtavruli Bold", sans-serif;
	font-size: 32px;
	color: #263238;
	margin-bottom: 30px;
}
.cats-box {
	float: left;
	width: 31%;
	position: relative;
}
.cats-box img {
	width: 100%;
}
.cats-middle-box {
	margin: 0 3.5%;
}
.cats-box-title {
	position: absolute;
	top: 0;
	width: 100%;
	color: #fff;
	background: #263238;
	padding: 20px 0;
	text-align: center;
	font-size: 24px;
	font-family: "BPG Nino Mtavruli Bold", sans-serif;
}
.cats-box-btn {
	position: absolute;
	bottom: 30px;
	left: 50%;
	width: 150px;
	border: 3px solid #ffab00;
	transform: translateX(-50%);
	padding: 10px 20px 6px;
	font-family: "BPG Nino Mtavruli Bold", sans-serif;
}
.cats-box-btn a {
	text-decoration: none;
	color: #fff;
	font-size: 21px;
}
.cats-box-first img {
	border-bottom-left-radius: 60px;
}
.cats-box-last img {
	border-top-right-radius: 60px;
}
.cats-box-last .cats-box-title {
	border-top-right-radius: 60px;
}

/********************** Sales Section **********************/

.sales {
	height: 700px;
	background-image: url("../images/sale-banner.jpg");
	background-size: cover;
	background-position: center top;
	background-attachment: fixed;
}
.sale-content-outer {
	position: relative;
	height: 700px;
}
.sale-content-inner {
	position: absolute;
	right: 0;
	top: 25%;
}
.sale-content-inner .sale-title {
	color: #fff;
	font-size: 36px;
	font-family: "BPG Nino Mtavruli Bold", sans-serif;
	margin-bottom: 40px;
}
.sale-content-inner .sale-percent {
	font-family: "BPG Nino Mtavruli Bold", sans-serif;
	font-size: 100px;
	color: white;
	margin-bottom: 30px;
}
.sale-content-inner .sale-btn {
	text-decoration: none;
	padding: 10px 35px;
	border: 3px solid #263238;
	font-size: 24px;
	color: white;
	font-family: "BPG Nino Mtavruli Bold", sans-serif;
}

/********************** Top Rates Section **********************/

.top-rates {
	padding: 100px 0;
	overflow: hidden;
	background: #263238;
	position: relative;
}
.top-rates h2 {
	text-align: center;
	font-family: "BPG Nino Mtavruli Bold", sans-serif;
	font-size: 32px;
	color: #263238;
	margin-bottom: 30px;
}
.main-owl-div {
	max-width: 1180px;
	width: 100%;
	overflow: hidden;
	margin: auto;
	height: 420px;
	border-top-left-radius: 30px;
	border-bottom-right-radius: 30px;
	position: relative;
}
.owl-div {
	width: 1800px;
	height: 100%;
	transform: translateX(0px);
	transition: all 600ms cubic-bezier(0.455, 0.03, 0.515, 0.955);
}
.owl-div .product-box {
	display: inline-block;
	float: left;
	width: 280px;
	margin-right: 20px;
	position: relative;
}
.owl-div .product-box img {
	width: 100%;
	display: block;
}
.btn {
	cursor: pointer;
}
#btn-prev {
	position: absolute;
	top: 50%;
	left: 290px;
	width: 60px;
	height: 60px;
}
#btn-prev img {
	width: 100%;
}
#btn-next {
	position: absolute;
	top: 50%;
	right: 290px;
	width: 60px;
	height: 60px;
}
#btn-next img {
	width: 100%;
}

/********************** Brands Section **********************/

.brands {
	padding: 60px 0;
	overflow: hidden;
	background: #fff;
}
.brand-images {
	float: left;
	width: 16.66%;
}

/********************** Footer Section **********************/

footer {
	padding: 60px 0;
	overflow: hidden;
	background: #263238;
	color: #fff;
}
.footer-box {
	float: left;
	width: 25%;
}
.footer-box .footer-box-title {
	margin-bottom: 15px;
	font-family: "BPG Nino Mtavruli Bold", sans-serif;
	font-size: 20px;
}
.footer-box ul li {
	margin-bottom: 10px;
	font-size: 18px;
	font-family: "BPG Nino Mkhedruli", sans-serif;
}
.footer-box ul li a {
	text-decoration: none;
	color: #fff;
	transition-duration: .3s;
}
.footer-box ul li a:hover {
	color: #ffab00;
}
.social-media {
	margin-top: 30px;
}
.social-media a {
	display: block;
	width: 40px;
	height: 40px;
	float: left;
	margin-right: 20px;
}
.social-media a img {
	width: 100%;
}
.copyrights {
	font-family: "BPG Nino Mkhedruli", sans-serif;
	text-align: right;
	font-size: 18px;
	font-weight: bold;
}

/********************** Media Queries **********************/

@media(max-width: 998px) {
	.menu-bar {
		display: block;
	}
	.search {
		display: none;
	}
	.nav-icons {
		float: none;
		display: none;
	}
	.bottom-header {
		display: none;
	}
	.top-header {
		border-bottom: 3px solid #263238;
	}
}

@media(max-width: 768px) {
	
	.banner-content {
		width: 100%;
	}
	.banner-content .banner-title {
		font-size: 32px;
		margin-bottom: 15px;
	}
	.banner-content .banner-text {
		margin-bottom: 20px;
		font-size: 18px;
	}
	.banner-content .banner-btn {
		padding: 8px 20px;
		font-size: 16px;
	}
	.news {
		padding: 60px 0;
	}
	.price {
		width: 150px;
		font-size: 20px;
	}
	.categories {
		padding: 60px 0;
	}
	.cats-box {
		float: none;
		width: 92%;
		margin: 0;
		margin: 4% auto;
	}
	.cats-box img {
		border-radius: 0;
	}
	.cats-box .cats-box-title {
		border-radius: 0;
	}
	/*.cats-box-title {
		padding: 10px 0;
		font-size: 19px;
	}
	.cats-box-btn {
		bottom: 30px;
		width: 100px;
		padding: 5px 20px;
	}*/
	/*.cats-box-btn a {
		text-decoration: none;
		color: #fff;
		font-size: 14px;
	}
	.cats-box-last img {
		border-top-right-radius: 50px;
	}*/
	.sales {
		height: 500px;
	}
}